# Development files
*.bak
*_bak
*.retry

# Development folders
logs
scratch
bench

# Secret files
*secret.txt
secret.yaml
**/csi_storageclass.yaml
**/snapshotclass.yaml
*token.txt

# Ansible inventory file
inventory.yaml
