---
apiVersion: v1
kind: Secret
metadata:
  name: csi-rbd-secret
  namespace: kube-system
data:
  # Key value corresponds to a user name defined in Ceph cluster
  admin: $ADMIN_BASE64_KEY
  # if monValueFromSecret is set to "monitors", uncomment the
  # following and set the mon there
