master:
  serviceType: ClusterIP
  image: "jenkins/jenkins"
  tag: "lts"
  installPlugins:
    - "blueocean:1.19.0"
    - "kubernetes:1.19.0"
    - "build-timestamp:1.0.3"
  overwritePlugins: false
persistence:
  enabled: true
  annotations:
    volume.beta.kubernetes.io/storage-class: csi-rbd

configScripts:
  creds: |
    credentials:
      system:
        domainCredentials:
          - credentials:
            - usernamePassword:
                scope: GLOBAL
                id: "XXXXXX-docker-creds"
                username: "XXXXXX"
                password: XXXXXX!
                description: "XXXXXX Docker Hub credentials"
            - string:
                scope: GLOBAL
                id: "github-access-token"
                secret: "XXXXXX"
                description: "XXXXXX Github Access Token"
  github-stuff: |
    unclassified:
      githubpluginconfig:
        configs:
          - name: "Github"
            apiUrl: "https://api.github.com"
            credentialsId: "github-access-token"
            manageHooks: true
