git:
  url: git@github.com:analogsea/AnalogSea-Flux
  branch: master
  path: namespaces,workloads
  user: iExalt
  email: cklliaw@uwaterloo.ca
  signingKey: $GPG_KEY_ID
  secretName: flux-ssh-key
  pollInterval: "5s"
  ciSkip: true

registry:
  pollInterval: "30s"
  rps: "1000"
  burst: "250"

gpgKeys:
  secretName: flux-gpg-signing-key

syncGarbageCollection:
  enabled: true
